# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Databases & data directories
*.db
*.sqlite
data/
processed_media/

# Virtual Environments
.venv/
venv/
ENV/

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
